spring:
  application:
    name: smartshape

  datasource:
    url: jdbc:postgresql://localhost:5432/smartshape
    username: admin
    password: admin
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    show-sql: false
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true

  springdoc:
    packages-to-scan: com.carlivan.smartshape.controller

server:
  port: 8080
